html
    head
        title Coming Soon - Natural Goodness Co-Op
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Web Application to manage the orders for the Natural Goodness Co-Op")
        meta(name="author" content="Daniel Emery <danielremery@gmail.com>")
        link(href='css/styles.css', rel='stylesheet')
    body
        div(class='site-wrapper')
            div(class='site-wrapper-inner')
                div(class='cover-container')
                    div(class='masthead clearfix')
                        div(class='inner')
                            h3(class='masthead-brand') Natural Goodness
                            nav(class='nav nav-masthead')
                                a(class='nav-link active', href='#') Home
                                a(class='nav-link', href='https://github.com/danielemery/natural-goodness', target='_blank') GitHub Project
                    div(class='inner cover')
                        h1(class='cover-heading') Coming Soon
                        p(class='lead') A new way of managing the Natural Goodness Co-Op orders is currently in development. This will vastly simplify making your co-op order and increase visibility of filling orders etc.
                    div(class='mastfoot')
                        div(class='inner')
                            p Landing page built based on cover template for 
                                a(href='https://v4-alpha.getbootstrap.com') Bootstrap
                                | , by 
                                a(href='https://twitter.com/mdo') @mdo
        script(src='js/scripts.js', type='text/javascript')
